<div data-hook="admin_<%= model_name %>_form_fields" class="row">
  <div class="twelve columns">
  <% model_attributes.each do |attribute| %>
    <%%= f.field_container :<%= attribute.name %> do %>
      <%%= f.label :<%= attribute.name %>, Spree.t(:<%= attribute.name %>) %>
      <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :class => 'fullwidth' %>
      <%%= error_message_on :<%= model_name %>, :<%= attribute.name %> %>
    <%% end %>
  <% end %>
  </div>
</div>