<%% content_for :page_title do %>
  <%%= Spree.t(:listing_<%= plural_name %>) %>
<%% end %>

<%% content_for :page_actions do %>
  <li>
    <%%= button_link_to Spree.t(:new_<%= singular_name %>), new_object_url, icon: 'plus', id: 'admin_new_<%= singular_name %>_link' %>
  </li>
<%% end %>

<% if sortable? -%>
<table class="index sortable" id="listing_<%= plural_name %>" data-hook data-sortable-link="<%%= <%= "update_positions_admin_#{plural_name}_url" %> %>">
<% else -%>
<table class="index" id="listing_<%= plural_name %>" data-hook>
<% end -%>
  <colgroup>
<% if sortable? -%>
    <col style="width: 10%">
    <col style="width: 75%">
    <col style="width: 15%">
<% else -%>
    <col style="width: 85%">
    <col style="width: 15%">
<% end -%>
  </colgroup>
  <thead>
    <tr data-hook="admin_<%= plural_name %>_index_headers">
<% if sortable? -%>
      <th class="no-border"></td>
<% end -%>
      <th><%= attributes.first.name %></th>
      <th data-hook="admin_<%= plural_name %>_index_header_actions" class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <%% @<%= plural_name %>.each do |<%= singular_name %>| %>
      <tr id="<%%= spree_dom_id <%= singular_name %> %>" data-hook="admin_<%= plural_name %>_index_rows" class="<%%= cycle('odd', 'even')%>">
<% if sortable? -%>
        <td class="no-border"><span class="handle"></span></td>
<% end -%>
        <td><%%= link_to <%= singular_name %>.<%= attributes.first.name %>, edit_object_url(<%= singular_name %>) %></td>
        <td data-hook="admin_<%= plural_name %>_index_row_actions" class="actions">
          <%%= link_to_edit <%= singular_name %>, no_text: true %>
          <%%= link_to_delete <%= singular_name %>, no_text: true %>
        </td>
      </tr>
    <%% end %>
  </tbody>
</table>

<%%= paginate @<%= plural_name %> %>
